body {
    align-items: center;
    font-family: "Happy Monkey", sans-serif;
    color: #ffffff;
    background-color: #c6dcf0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0px 0px 3px black;
}

#bday-age {
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

#bday-date {
    background: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0px;
}

#bday-portrait {
    width: 500px;
    border: 6px solid #efb0c9;
    border-radius: 50%;
}

.gift-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}

.gift-title {
    margin: 0px 0px 10px 0px;
}

.gift-hint {
    margin: 0px 0px 10px 0px;
}

.gift-img {
    height: 400px;
    width: 400px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    border: 6px solid white;
    border-radius: 5px;
    margin-top: 10px;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-react:hover {
    background-image: url("images/anime_girl.gif");
}

#gift-img-sugoi:hover {
    background-image: url("images/sugoi.gif");
}

#gift-img-happybirthday {
    height: 200px;
}

#gift-img-happybirthday:hover {
    background-image: url("images/happybirthday.gif");
    background-position: center;
}
